<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moksie.onthemove" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_sobre"
        android:label="@string/app_name"
        android:theme="@style/OnTheMoveTheme" >
        <activity
            android:name="com.moksie.onthemove.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MenuMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".activities.AlertActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_gpsalert" >
        </activity>
        <activity
            android:name=".activities.MenuRoutesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_routes" >
        </activity>
        <activity
            android:name=".activities.MenuMoveMeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_move_me" >
        </activity>
        <activity
            android:name=".activities.PlantActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.FlightListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_voos" >
        </activity>
        <activity
            android:name=".activities.MenuServicesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_services" >
        </activity>
        <activity
            android:name=".activities.MenuOtherServicesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_other_services" >
        </activity>
        <activity
            android:name=".activities.MenuContactsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".activities.FlightInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_voo_info">
        </activity>
        <activity
            android:name="com.moksie.onthemove.activities.FooterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_footer"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact">
        </activity>
        <activity
            android:name=".activities.StoreListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_stores2">
        </activity>
        <activity
            android:name=".activities.StoreActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store2">
        </activity>
        <activity
            android:name=".activities.PlantListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_plants">
        </activity>
        <activity
            android:name=".activities.LocationListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_locations">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
